<!-- Notifications template-->

<div fxLayout="column" fxLayoutGap="20px" style="padding: 20px;">
    <mat-card>
        <mat-card-header>
            <img matCardAvatar src="">        
            <mat-card-title>
                Polytechnic XYZ
            </mat-card-title>
            <mat-card-subtitle>
                01/01/2021
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            User002 removed equipment PolXYZ/Eng/Mech/Lab01/Lathe01
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-flat-button color="primary">
                Details
            </button>
            <button color="warn" mat-flat-button>
                Close
            </button>
        </mat-card-actions>
        <mat-card-footer>

        </mat-card-footer>
    </mat-card>

     <mat-card>
        <mat-card-header>
            <img matCardAvatar src="">        
            <mat-card-title>
                Polytechnic XYZ
            </mat-card-title>
            <mat-card-subtitle>
                01/01/2021
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            User001 added equipment PolXYZ/Eng/Mech/Lab01/Lathe02
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-flat-button color="primary">
                Details
            </button>
            <button color="warn" mat-flat-button>
                Close
            </button>
        </mat-card-actions>
        <mat-card-footer>

        </mat-card-footer>
    </mat-card>

</div>