<div class="reset-password" fxLayout="row" fxLayoutAlign="center">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm.value)">
    <mat-card
      fxFlexAlign="center"
      fxFlex.xs="100%"
      fxFlex.gt-sm="400px"
      class="mat-elevation-z5"
    >
      <mat-card-header>
        <mat-card-title> Login </mat-card-title>
        <mat-card-subtitle> Please enter your login details </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>email</mat-label>
          <input matInput email type="email" required formControlName="email" />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <div class="text-small">
          Click <a routerLink="/register">here</a> to login
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button type="submit" color="accent" mat-raised-button>Send</button>
      </mat-card-actions>

      <mat-card-footer> </mat-card-footer>
    </mat-card>
  </form>
</div>
