<div class="reset-password" fxLayout="row" fxLayoutAlign="center">

    <mat-card
      fxFlexAlign="center"
      fxFlex.xs="100%"
      fxFlex.gt-xs="600px"
      class="mat-elevation-z5"
    >
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm.value)">
      <mat-card-header>
        <mat-card-title> Reset password </mat-card-title>
        <mat-card-subtitle> Please enter your email</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>email</mat-label>
          <input matInput email type="email" required formControlName="email" />
          <mat-icon color="primary" matSuffix>person</mat-icon>
        </mat-form-field>
        <div class="text-small">
          Click <a routerLink="/login">here</a> to login
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button type="submit" color="accent" [disabled]="resetPasswordForm.invalid" mat-raised-button>Send</button>
      </mat-card-actions>

      <mat-card-footer> </mat-card-footer>
    </form>
    </mat-card>

</div>
