<div class="register" fxLayout="row" fxLayoutAlign="center">
    <!--Register card-->
    <mat-card
      fxFlexAlign="center"
      fxFlex.xs="100%"
      fxFlex.gt-xs="400px"
      class="mat-elevation-z5"
    >
    <form [formGroup]="registerGroup" (ngSubmit)="onSubmit(registerGroup.value)">

      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span fxFlex="1 1 auto"></span>
          <mat-icon> account_circle </mat-icon>
          <span fxFlex="1 1 auto"></span>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <span fxFlex="1 1 auto"></span>
          Register
          <span fxFlex="1 1 auto"></span>
        </mat-toolbar-row>
      </mat-toolbar>

      <mat-card-content fxLayout="column">

        <mat-form-field appearance="outline">
          <mat-label>first name</mat-label>
          <input matInput type="text" required formControlName="fName" />
          <mat-icon matSuffix color="primary">person</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>last name</mat-label>
          <input matInput type="text" required formControlName="lName" />
          <mat-icon matSuffix color="primary">person</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>email</mat-label>
          <input matInput email type="email" required formControlName="email" />
          <mat-icon matSuffix color="primary">mail</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>password</mat-label>
          <input matInput type="password" required formControlName="password" />
          <mat-icon matSuffix color="primary">lock</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm password</mat-label>
          <input matInput type="password" required formControlName="confirmPassword"/>
          <mat-icon matSuffix color="primary">lock</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <input matInput type="text" required formControlName="address"/>
          <mat-icon matSuffix color="primary">location_on</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Phone number</mat-label>
          <input matInput type="tel" required formControlName="phone"/>
          <mat-icon matSuffix color="primary">phone</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Date of birth</mat-label>
          <input matInput type="date" required formControlName="dob"/>
          <mat-icon matSuffix color="primary">date_range</mat-icon>
        </mat-form-field>
        <div>
          Already have an account? click <a routerLink="/login">here</a> to
          login
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button (click)="register()" [disabled]="registerGroup.invalid" color="accent" mat-raised-button>Register</button>
      </mat-card-actions>

      <mat-card-footer> </mat-card-footer>
    </form>
    </mat-card>

</div>
