<div class="login" fxLayout="row" fxLayoutAlign="center">
  <!--Login card-->
    <mat-card
      fxFlexAlign="center"
      fxFlex.xs="100%"
      fxFlex.gt-xs="400px"
      class="mat-elevation-z5"
    >
    <form [formGroup]="loginForm">

      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span fxFlex="1 1 auto"></span>
          <mat-icon> account_circle </mat-icon>
          <span fxFlex="1 1 auto"></span>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <span fxFlex="1 1 auto"></span>
          Login
          <span fxFlex="1 1 auto"></span>
        </mat-toolbar-row>
      </mat-toolbar>

      <mat-card-content fxLayout="column">
        <div class="text-small warn" *ngIf="failedAttempt" color="warn">Invalid login credentails</div>
        <mat-form-field appearance="outline">
          <mat-label>email</mat-label>
          <input matInput type="email" required formControlName="email" >
          <mat-icon matSuffix color="primary">mail</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>password</mat-label>
          <input matInput type="password" required formControlName="password">
          <mat-icon matSuffix color="primary">lock</mat-icon>
        </mat-form-field>

        <!--<div [fxShow]="failedAttempt" style="padding: 5px; color: red; border: 1px solid red; background-color: #ffcdd2">
          {{loginFailMessage}}
        </div>-->
        <div class="text-small mb-1">
          <a routerLink="/reset-password">Reset password</a>
        </div>

        <div class="text-small">
          Don't have an account? click <a routerLink="/register">here</a> to
          register
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button (click)="login()" color="accent" [disabled]="loginForm.invalid" mat-raised-button>Login</button>
      </mat-card-actions>

      <mat-card-footer> </mat-card-footer>
    </form>
    </mat-card>

</div>
