<div fxLayoutGap="30px" fxLayout="column" style="width:100%;height:100%;padding:40px;">
    <mat-card>

        <!-- Main card -->
        <mat-card-header>
            <img matCardAvatar src="./assets/img/01.JPG">
            <mat-card-title>

                <div class="mat-headline">Adamu Bello University</div>
            </mat-card-title>
            <mat-card-subtitle>
                <div class="mat-h2">2021 Budget Allocation</div>
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content fxLayout.xs="column" fxLayout.gt-xs="row">
          <div fxFlex.gt-xs="1 1 auto">
            <mat-list>
                <mat-list-item>
                    <div class="mat-h2">Allocation : N50Bn</div>
                </mat-list-item>
                <mat-list-item>
                    <div class="mat-h2">Total cost of repairs : N80Bn</div>
                </mat-list-item>
            </mat-list>
          </div>
          <mat-divider fxHide.xs [vertical]="true"></mat-divider>
          <mat-divider fxShow.xs></mat-divider>

          <div fxFlex.gt-xs="320px">
            <mat-list>
              <mat-list-item>
                  <div class="mat-text">User : John Doe</div>
              </mat-list-item>
              <mat-list-item>
                  <div class="mat-text">Role : Administrator</div>
              </mat-list-item>
          </mat-list>
          </div>
        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-card-actions align="end">
            <button mat-flat-button routerLink="../summary">
                <mat-icon color="primary">assignment</mat-icon> More details
            </button>
        </mat-card-actions>

      </mat-card>

    <!-- Tiles for small display -->
    <div style="padding:0px" fxShow.xs fxHide.gt-xs>
    <mat-grid-list cols="2" rowHeight="2:1" gutterSize="15px">

      <mat-grid-tile class="mat-elevation-z3" style="background-color: #00695c; color: white">
        <div fxLayout="column">
          <mat-icon>business</mat-icon>
          <div class="mat-title">Sites</div>
          <div class="mat-display-2">2</div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile class="mat-elevation-z3" style="background-color: #00695c; color: white">
        <div fxLayout="column">
          <mat-icon>business</mat-icon>
          <div class="mat-title">Buildings</div>
          <div class="mat-display-2">254</div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile class="mat-elevation-z3" style="background-color: #00695c; color: white">
        <div fxLayout="column">
          <mat-icon>business</mat-icon>
          <div class="mat-title">High Value Equipment</div>
          <div class="mat-display-2">128</div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile class="mat-elevation-z3" style="background-color: #00695c; color: white">
        <div fxLayout="column">
          <mat-icon>business</mat-icon>
          <div class="mat-title">Low Value Equipment</div>
          <div class="mat-display-2">2,465</div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile class="mat-elevation-z3" style="background-color: #00695c; color: white">
        <div fxLayout="column">
          <mat-icon>business</mat-icon>
          <div class="mat-title">Obsolete</div>
          <div class="mat-display-2">12</div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile class="mat-elevation-z3" style="background-color: #00695c; color: white">
        <div fxLayout="column">
          <mat-icon>domain_disabled</mat-icon>
          <div class="mat-title">Abandoned</div>
          <div class="mat-display-2">2</div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile class="mat-elevation-z3" style="background-color: #00695c; color: white">
        <div fxLayout="column">
          <mat-icon>business</mat-icon>
          <div class="mat-title">Repairable</div>
          <div class="mat-display-2">27</div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile class="mat-elevation-z3" style="background-color: #00695c; color: white">
        <div fxLayout="column">
          <mat-icon>business</mat-icon>
          <div class="mat-title">Good Condition</div>
          <div class="mat-display-2">2,564</div>
        </div>
      </mat-grid-tile>

    </mat-grid-list>
  </div>
    <!--Tiles for large display -->
    <div style="padding:0px" fxHide.xs fxShow.gt-xs>
      <mat-grid-list cols="4" rowHeight="2:1" gutterSize="15px">

        <mat-grid-tile class="mat-elevation-z3" style="background-color: #00695c; color: white">
          <div fxLayout="column">
            <mat-icon>business</mat-icon>
            <div class="mat-title">Sites</div>
            <div class="mat-display-2">2</div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile class="mat-elevation-z3" style="background-color: #00695c; color: white">
          <div fxLayout="column">
            <mat-icon>business</mat-icon>
            <div class="mat-title">Buildings</div>
            <div class="mat-display-2">254</div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile class="mat-elevation-z3" style="background-color: #00695c; color: white">
          <div fxLayout="column">
            <mat-icon>business</mat-icon>
            <div class="mat-title">High Value Equipment</div>
            <div class="mat-display-2">128</div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile class="mat-elevation-z3" style="background-color: #00695c; color: white">
          <div fxLayout="column">
            <mat-icon>business</mat-icon>
            <div class="mat-title">Low Value Equipment</div>
            <div class="mat-display-2">2,465</div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile class="mat-elevation-z3" style="background-color: #00695c; color: white">
          <div fxLayout="column">
            <mat-icon>business</mat-icon>
            <div class="mat-title">Obsolete</div>
            <div class="mat-display-2">12</div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile class="mat-elevation-z3" style="background-color: #00695c; color: white">
          <div fxLayout="column">
            <mat-icon>domain_disabled</mat-icon>
            <div class="mat-title">Abandoned</div>
            <div class="mat-display-2">2</div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile class="mat-elevation-z3" style="background-color: #00695c; color: white">
          <div fxLayout="column">
            <mat-icon>business</mat-icon>
            <div class="mat-title">Repairable</div>
            <div class="mat-display-2">27</div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile class="mat-elevation-z3" style="background-color: #00695c; color: white">
          <div fxLayout="column">
            <mat-icon>business</mat-icon>
            <div class="mat-title">Good Condition</div>
            <div class="mat-display-2">2,564</div>
          </div>
        </mat-grid-tile>

      </mat-grid-list>
    </div>


    <div style="padding:10px">
        <mat-card-content fxLayoutGap="20px" fxLayout.xs="column" fxLayout.sm="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-evenly stretch">

          <mat-card fxFlex="1 1">
            <mat-card-header>
                <mat-card-title>
                    Top priority repair
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
              <table mat-table [dataSource]="update_dataSource" style="width:100%">

                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> Date. </th>
                  <td mat-cell *matCellDef="let update"> {{update.date}} </td>
                </ng-container>

                <ng-container matColumnDef="activity">
                  <th mat-header-cell *matHeaderCellDef> Activity </th>
                  <td mat-cell *matCellDef="let update"> {{update.activity}} </td>
                </ng-container>

                <ng-container matColumnDef="cost">
                  <th mat-header-cell *matHeaderCellDef> Estimated cost </th>
                  <td mat-cell *matCellDef="let update"> &#8358; {{update.cost}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              </table>

            </mat-card-content>


            </mat-card>

            <mat-card fxFlex="1 1">
                <mat-card-header>
                    <mat-card-title>
                        Update history
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                  <table mat-table [dataSource]="history_dataSource" style="width:100%">

                    <ng-container matColumnDef="date">
                      <th mat-header-cell *matHeaderCellDef> Date. </th>
                      <td mat-cell *matCellDef="let update"> {{update.date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="activity">
                      <th mat-header-cell *matHeaderCellDef> Activity </th>
                      <td mat-cell *matCellDef="let update"> {{update.activity}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cost">
                      <th mat-header-cell *matHeaderCellDef> Estimated cost </th>
                      <td mat-cell *matCellDef="let update"> &#8358; {{update.cost}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                  </table>

                </mat-card-content>

            </mat-card>

        </mat-card-content>
      </div>


    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Repairs budget history
            </mat-card-title>
        </mat-card-header>

        <!--Chart -->
        <mat-card-content>
            <div style="display: block">
                <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [colors]="barChartColors"
                        [chartType]="barChartType">
                </canvas>
            </div>
        </mat-card-content>

    </mat-card>

</div>
