<div fxLayoutGap="30px" fxLayout="column" style="width:100%;height:100%;padding:40px;">
    <mat-card>

        <!-- Main card -->
        <mat-card-header>
            <img matCardAvatar src="./assets/img/01.JPG">
            <mat-card-title>

                Adamu Bello University
            </mat-card-title>
            <mat-card-subtitle>
                2021 Budget Allocation
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    Allocation : N50Bn
                </mat-list-item>
                <mat-list-item>
                    Total cost of repairs : N80Bn
                </mat-list-item>
            </mat-list>
        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-card-actions align="end">
            <button mat-flat-button routerLink="../summary">
                <mat-icon color="primary">assignment</mat-icon> More details
            </button>
        </mat-card-actions>

    </mat-card>

    <!-- Mini stats
    <mat-card fxLayoutGap="20px" fxLayoutAlign="center center" fxLayout.xs="column"  fxLayout.gt-xs="row wrap-around">

        <mat-card fxFlex.gt-xs="300px">

            <mat-card-header>
                <mat-icon matCardAvatar>
                    location_city
                </mat-icon>
                <mat-card-title>
                    Sites
                </mat-card-title>

                <mat-card-subtitle>
                   2
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
        </mat-card>

        <mat-card fxFlex.gt-xs="300px">

            <mat-card-header>
                <mat-icon matCardAvatar>
                    domain
                </mat-icon>
                <mat-card-title>
                    Buildings
                </mat-card-title>

                <mat-card-subtitle>
                    158
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
        </mat-card>

        <mat-card fxFlex.gt-xs="300px">
            <mat-card-header>
                <mat-icon matCardAvatar>
                    location_city
                </mat-icon>
                <mat-card-title>
                    High Value Equipment
                </mat-card-title>

                <mat-card-subtitle>
                    1,257
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
        </mat-card>

        <mat-card fxFlex.gt-xs="300px">
            <mat-card-header>
                <mat-icon matCardAvatar>
                    location_city
                </mat-icon>
                <mat-card-title>
                    Low Value Equipment
                </mat-card-title>

                <mat-card-subtitle>
                    846,564
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
        </mat-card>

        <mat-card fxFlex.gt-xs="300px">
            <mat-card-header>
                <mat-icon matCardAvatar>
                    location_city
                </mat-icon>
                <mat-card-title>
                    Obsolete
                </mat-card-title>

                <mat-card-subtitle>
                    2
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
        </mat-card>

        <mat-card fxFlex.gt-xs="300px">
            <mat-card-header>
                <mat-icon matCardAvatar>
                    location_city
                </mat-icon>
                <mat-card-title>
                    Abandoned
                </mat-card-title>

                <mat-card-subtitle>
                    0
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
        </mat-card>

        <mat-card fxFlex.gt-xs="300px">
            <mat-card-header>
                <mat-icon matCardAvatar>
                    location_city
                </mat-icon>
                <mat-card-title>
                    Repairable
                </mat-card-title>

                <mat-card-subtitle>
                    10
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
        </mat-card>

        <mat-card fxFlex.gt-xs="300px">
            <mat-card-header>
                <mat-icon matCardAvatar>
                    location_city
                </mat-icon>
                <mat-card-title>
                    Good condition
                </mat-card-title>

                <mat-card-subtitle>
                    1,255
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
        </mat-card>

    </mat-card>-->

    <div style="padding:0px">
      <mat-grid-list cols="4" rowHeight="2:1" gutterSize="10px">
        <mat-grid-tile class="mat-elevation-z3">
          <mat-grid-tile-header class="mat-display-2" >Sites</mat-grid-tile-header>
          <div class="mat-display-1">2</div>
          <mat-grid-tile-footer>2</mat-grid-tile-footer>
        </mat-grid-tile>

        <mat-grid-tile class="mat-elevation-z3">
          <mat-grid-tile-header class="mat-display-1"><h2>Buildings</h2></mat-grid-tile-header>
          <mat-icon>business</mat-icon>
          <mat-grid-tile-footer>2</mat-grid-tile-footer>
        </mat-grid-tile>

        <mat-grid-tile class="mat-elevation-z3">
          <mat-grid-tile-header class="mat-display-1"><h2>High Value Equipment</h2></mat-grid-tile-header>
          <mat-icon>business</mat-icon>
          <mat-grid-tile-footer>2</mat-grid-tile-footer>
        </mat-grid-tile>

        <mat-grid-tile class="mat-elevation-z3">
          <mat-grid-tile-header class="mat-display-1"><h2>Low Value Equipment</h2></mat-grid-tile-header>
          <mat-icon>business</mat-icon>
          <mat-grid-tile-footer>2</mat-grid-tile-footer>
        </mat-grid-tile>

        <mat-grid-tile class="mat-elevation-z3">
          <mat-grid-tile-header class="mat-display-1"><h2 class="mat-title">Obsoletes</h2></mat-grid-tile-header>
          <mat-icon>business</mat-icon>
          <mat-grid-tile-footer>2</mat-grid-tile-footer>
        </mat-grid-tile>

        <mat-grid-tile class="mat-elevation-z3">
          <mat-grid-tile-header class="mat-display-1"><h2>Abandoned</h2></mat-grid-tile-header>
          <mat-icon>business</mat-icon>
          <mat-grid-tile-footer>2</mat-grid-tile-footer>
        </mat-grid-tile>

        <mat-grid-tile class="mat-elevation-z3">
          <mat-grid-tile-header class="mat-display-1"><h2>Repairable</h2></mat-grid-tile-header>
          <mat-icon>business</mat-icon>
          <mat-grid-tile-footer>2</mat-grid-tile-footer>
        </mat-grid-tile>

        <mat-grid-tile class="mat-elevation-z3">
          <mat-grid-tile-header class="mat-display-1"><h2>Good Condition</h2></mat-grid-tile-header>
          <mat-icon>business</mat-icon>
          <mat-grid-tile-footer>2</mat-grid-tile-footer>
        </mat-grid-tile>

      </mat-grid-list>
    </div>


    <mat-card>
        <mat-card-content fxLayoutGap="20px" fxLayout.xs="column" fxLayout.sm="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-evenly stretch">

          <mat-card fxFlex="1 1">
            <mat-card-header>
                <mat-card-title>
                    Top priority repair
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
              <table mat-table [dataSource]="update_dataSource" style="width:100%">

                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> Date. </th>
                  <td mat-cell *matCellDef="let update"> {{update.date}} </td>
                </ng-container>

                <ng-container matColumnDef="activity">
                  <th mat-header-cell *matHeaderCellDef> Activity </th>
                  <td mat-cell *matCellDef="let update"> {{update.activity}} </td>
                </ng-container>

                <ng-container matColumnDef="cost">
                  <th mat-header-cell *matHeaderCellDef> Estimated cost </th>
                  <td mat-cell *matCellDef="let update"> &#8358; {{update.cost}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              </table>

            </mat-card-content>

                <!--
                  <mat-card-content>
                    <mat-list>
                        <mat-list-item >
                            <img matListAvatar src="./assets/img.jpg">
                            Building 001
                            <span fxFlex="200px"></span>
                            <div>Cost : 0</div>
                        </mat-list-item>

                        <mat-divider></mat-divider>

                        <mat-list-item >
                            <img matListAvatar src="./assets/img.jpg">
                            Building 001
                            <span fxFlex="200px"></span>
                            <div>Cost : 0</div>
                        </mat-list-item>

                        <mat-divider></mat-divider>

                        <mat-list-item >
                            <img matListAvatar src="./assets/img.jpg">
                            Building 001
                            <span fxFlex="200px"></span>
                            <div>Cost : 0</div>
                        </mat-list-item>

                        <mat-divider></mat-divider>

                        <mat-list-item >
                            <img matListAvatar src="./assets/img.jpg">
                            <p>Building 001
                            <span fxFlex="200px"></span>
                            <div>Cost : 0</div>
                        </mat-list-item>

                        <mat-divider></mat-divider>

                        <mat-list-item >
                            <img matListAvatar src="./assets/img.jpg">
                            Building 001
                            <span fxFlex="200px"></span>
                            <div>Cost : 0</div>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
              -->
            </mat-card>

            <mat-card fxFlex="1 1">
                <mat-card-header>
                    <mat-card-title>
                        Update history
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                  <table mat-table [dataSource]="history_dataSource" style="width:100%">

                    <ng-container matColumnDef="date">
                      <th mat-header-cell *matHeaderCellDef> Date. </th>
                      <td mat-cell *matCellDef="let update"> {{update.date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="activity">
                      <th mat-header-cell *matHeaderCellDef> Activity </th>
                      <td mat-cell *matCellDef="let update"> {{update.activity}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cost">
                      <th mat-header-cell *matHeaderCellDef> Estimated cost </th>
                      <td mat-cell *matCellDef="let update"> &#8358; {{update.cost}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                  </table>

                </mat-card-content>
                <!--
                <mat-card-content>
                    <mat-list>
                        <mat-list-item >
                            <img matListAvatar src="/assets/img.jpg">
                            Building 001
                            <span fxFlex="200px"></span>
                            <div>Cost : 0</div>
                        </mat-list-item>

                        <mat-divider></mat-divider>

                        <mat-list-item >
                            <img matListAvatar src="/assets/img.jpg">
                            Building 001
                            <span fxFlex="200px"></span>
                            <div>Cost : 0</div>
                        </mat-list-item>

                        <mat-divider></mat-divider>

                        <mat-list-item >
                            <img matListAvatar src="/assets/img.jpg">
                            Building 001
                            <span fxFlex="200px"></span>
                            <div>Cost : 0</div>
                        </mat-list-item>

                        <mat-divider></mat-divider>

                        <mat-list-item >
                            <img matListAvatar src="/assets/img.jpg">
                            Building 001
                            <span fxFlex="200px"></span>
                            <div>Cost : 0</div>
                        </mat-list-item>

                        <mat-divider></mat-divider>

                        <mat-list-item >
                            <img matListAvatar src="/assets/img.jpg">
                             Building 001
                            <span fxFlex="200px"></span>
                            <div>Cost : 0</div>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
              -->
            </mat-card>

        </mat-card-content>
    </mat-card>


    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Repairs budget history
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div style="display: block">
                <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [colors]="barChartColors"
                        [chartType]="barChartType">
                </canvas>
            </div>
        </mat-card-content>

    </mat-card>

</div>
