<div fxLayoutGap="30px" fxLayout="column" style="width:100%;height:100%;padding:40px;">
    <mat-card>
        
        <!-- Main card -->
        <mat-card-header>
            <img matCardAvatar src="/assets/img.jpg">
            <mat-card-title>
            
                Name of Institution
            </mat-card-title>
            <mat-card-subtitle>
                2021 Budget Allocation
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    Allocation : 50Bn
                </mat-list-item>
                <mat-list-item>
                    Total cost of repairs : 80Bn
                </mat-list-item>
            </mat-list>
        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-flat-button color="primary">
                <mat-icon>assignment</mat-icon> More details
            </button>
        </mat-card-actions>

    </mat-card>

    <!-- Mini stats s-->
    <mat-card fxLayoutAlign="center space-around"  fxLayout="row wrap-around">
        
        <mat-card fxFlex="300px">
            
            <mat-card-header>
                <mat-icon matCardAvatar>
                    location_city
                </mat-icon>
                <mat-card-title>
                    Sites
                </mat-card-title>
                    
                <mat-card-subtitle>
                   0
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                
            </mat-card-content>
        </mat-card>

        <mat-card fxFlex="300px">
            
            <mat-card-header>
                <mat-icon matCardAvatar>
                    domain
                </mat-icon>    
                <mat-card-title>
                    Buildings
                </mat-card-title>
                    
                <mat-card-subtitle>
                    0
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
        </mat-card>

        <mat-card fxFlex="300px">
            <mat-card-header>
                <mat-icon matCardAvatar>
                    location_city
                </mat-icon>
                <mat-card-title>
                    High Value Equipment
                </mat-card-title>
                    
                <mat-card-subtitle>
                    0
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
        </mat-card>

        <mat-card fxFlex="300px">
            <mat-card-header>
                <mat-icon matCardAvatar>
                    location_city
                </mat-icon>
                <mat-card-title>
                    Low Value Equipment
                </mat-card-title>
                    
                <mat-card-subtitle>
                    0
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
        </mat-card>

        <mat-card fxFlex="300px">
            <mat-card-header>
                <mat-icon matCardAvatar>
                    location_city
                </mat-icon>
                <mat-card-title>
                    Obsolete
                </mat-card-title>
                    
                <mat-card-subtitle>
                    0
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
        </mat-card>

        <mat-card fxFlex="300px">
            <mat-card-header>
                <mat-icon matCardAvatar>
                    location_city
                </mat-icon>
                <mat-card-title>
                    Abandoned
                </mat-card-title>
                    
                <mat-card-subtitle>
                    0
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
        </mat-card>

        <mat-card fxFlex="300px">
            <mat-card-header>
                <mat-icon matCardAvatar>
                    location_city
                </mat-icon>
                <mat-card-title>
                    Repairable
                </mat-card-title>
                    
                <mat-card-subtitle>
                    0
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
        </mat-card>

        <mat-card fxFlex="300px">
            <mat-card-header>
                <mat-icon matCardAvatar>
                    location_city
                </mat-icon>
                <mat-card-title>
                    Good condition
                </mat-card-title>
                    
                <mat-card-subtitle>
                    0
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
        </mat-card>

    </mat-card>

    
    <mat-card>
        <mat-card-content fxLayoutGap="20px" fxLayout.xs="column" fxLayout.gt-xs="row">
            
            <mat-card fxFlex="1 1">
                <mat-card-header>
                    <mat-card-title>
                        Top priority repair
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <mat-list>
                        <mat-list-item >
                            <img matListAvatar src="/assets/img.jpg"> 
                            Building 001
                            <span fxFlex="200px"></span>
                            <div>Cost : 0</div>
                        </mat-list-item>

                        <mat-list-item >
                            <img matListAvatar src="/assets/img.jpg"> 
                            Building 001
                            <span fxFlex="200px"></span>
                            <div>Cost : 0</div>
                        </mat-list-item>

                        <mat-list-item >
                            <img matListAvatar src="/assets/img.jpg"> 
                            Building 001
                            <span fxFlex="200px"></span>
                            <div>Cost : 0</div>
                        </mat-list-item>

                        <mat-list-item >
                            <img matListAvatar src="/assets/img.jpg"> 
                            Building 001
                            <span fxFlex="200px"></span>
                            <div>Cost : 0</div>
                        </mat-list-item>

                        <mat-list-item >
                            <img matListAvatar src="/assets/img.jpg"> 
                            Building 001
                            <span fxFlex="200px"></span>
                            <div>Cost : 0</div>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>

            <mat-card fxFlex="1 1">
                <mat-card-header>
                    <mat-card-title>
                        Update history
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <mat-list>
                        <mat-list-item >
                            <img matListAvatar src="/assets/img.jpg"> 
                            Building 001
                            <span fxFlex="200px"></span>
                            <div>Cost : 0</div>
                        </mat-list-item>

                        <mat-list-item >
                            <img matListAvatar src="/assets/img.jpg"> 
                            Building 001
                            <span fxFlex="200px"></span>
                            <div>Cost : 0</div>
                        </mat-list-item>

                        <mat-list-item >
                            <img matListAvatar src="/assets/img.jpg"> 
                            Building 001
                            <span fxFlex="200px"></span>
                            <div>Cost : 0</div>
                        </mat-list-item>

                        <mat-list-item >
                            <img matListAvatar src="/assets/img.jpg"> 
                            Building 001
                            <span fxFlex="200px"></span>
                            <div>Cost : 0</div>
                        </mat-list-item>

                        <mat-list-item >
                            <img matListAvatar src="/assets/img.jpg">                             
                             Building 001
                            <span fxFlex="200px"></span>
                            <div>Cost : 0</div>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>

        </mat-card-content>
    </mat-card>


    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Repairs budget history
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div style="display: block">
                <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                </canvas>
            </div>
        </mat-card-content>

    </mat-card>

</div>