<div style="padding: 20px" fxLayoutGap="20px" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="space-around center">
  <app-building fxFlex="400px" name="Lecture Theatre"></app-building>
  <app-building fxFlex="400px" name="Lecture Theatre"></app-building>
  <app-building fxFlex="400px" name="Lecture Theatre"></app-building>
  <app-building fxFlex="400px" name="Lecture Theatre"></app-building>
  <app-building fxFlex="400px" name="Lecture Theatre"></app-building>
  <app-building fxFlex="400px" name="Lecture Theatre"></app-building>
  <app-building fxFlex="400px" name="Lecture Theatre"></app-building>
  <app-building fxFlex="400px" name="Lecture Theatre"></app-building>
  <app-building fxFlex="400px" name="Lecture Theatre"></app-building>
</div>
