<h1 mat-dialog-title>Add Site</h1>
<div mat-dialog-content fxLayout="column">
    
    <mat-form-field>
        <mat-label>Institution name</mat-label>
        <input type="text" matInput>
        <mat-icon matSuffix>mail</mat-icon>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Acronym</mat-label>
        <input type="text" matInput>
        <mat-icon matSuffix></mat-icon>
    </mat-form-field>

    <mat-form-field>
        <mat-label>State</mat-label>
        <mat-select>
            <mat-option *ngFor="let state of states" value="{{state}}"> 
                {{ state }} 
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div fxLayout="row">
        <span fxFlex="1 1 auto"></span>
        <button mat-flat-button color="primary" mat-dialog-close> Register </button>
    </div>
</div>