<div style="background-color: grey; height: 100%" fxLayout="column">

  <mat-toolbar color="primary">
        <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
            FEIMS
            <span fxFlex="1 1 auto"></span>

            <button mat-icon-button [matMenuTriggerFor]="notifications">
                <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
            </button>
            <mat-menu  #notifications="matMenu">
                <button mat-menu-item>
                    Notification 00001
                </button>
                <button mat-menu-item>
                    Notification 00002
                </button>
                <button mat-menu-item>
                    Notification 00003
                </button>
                <button mat-menu-item>
                    Notification 00004
                </button>
            </mat-menu>

            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="">
                    <mat-icon>exit_to_app</mat-icon>Logout
                </button>
            </mat-menu>

        </mat-toolbar-row>

    </mat-toolbar>

    <mat-sidenav-container fxFlex="1 1 auto" id="body">
        <mat-sidenav id="sidenav" #sidenav mode="over" align="start" fxLayout="column">
            <button mat-flat-button routerLink="./" (click)="sidenav.toggle()">
                <mat-icon color="primary">home</mat-icon>
                Home
            </button>

            <mat-form-field appearance="outline">
              <mat-label>Sites</mat-label>
              <mat-select [(value)]="site">
                <mat-option value="">Select Site</mat-option>
                <mat-option *ngFor="let site of selection" value={{site.code}}>{{site.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" *ngIf="site">
                <mat-label>Select faculty</mat-label>
                <mat-select [(value)]="faculty">
                    <mat-option value="">Select Faculty</mat-option>
                    <mat-option *ngFor="let faculty of selection[0].faculties" value={{faculty.code}}>
                      {{faculty.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" *ngIf="faculty && site">
              <mat-label>Department</mat-label>
              <mat-select [(value)]="department">
                <mat-option value="">Select Site</mat-option>
                <mat-option *ngFor="let department of selection[0].faculties[0].departments" value={{department.code}} routerLink="buildings">
                  {{department.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <button mat-flat-button routerLink="reports" (click)="sidenav.toggle()">
                <mat-icon color="primary">insert_chart</mat-icon>
                Reports
            </button>
            <button routerLink="settings" mat-flat-button (click)="sidenav.toggle()">
                <mat-icon color="primary">settings</mat-icon>
                Settings
            </button>
        </mat-sidenav>
        <!-- Body -->
        <router-outlet></router-outlet>

    </mat-sidenav-container>

    <mat-toolbar color="accent">
      <mat-toolbar-row>
        ABU / KNG / LAW /CVL
      </mat-toolbar-row>
    </mat-toolbar>
</div>

