<div style="background-color: grey; height: 100%" fxLayout="column">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
            FEIMS 
            <span fxFlex="1 1 auto"></span>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>exit_to_app</mat-icon>Logout
                </button>
            </mat-menu>
        </mat-toolbar-row>
        
    </mat-toolbar>

    <mat-sidenav-container fxFlex="1 1 auto" id="body">
        <mat-sidenav id="sidenav" #sidenav mode="over" align="start" fxLayout="column">
            <button mat-flat-button routerLink="" (click)="sidenav.toggle()">
                <mat-icon>notifications</mat-icon>
                Notification
            </button>
            <button mat-flat-button routerLink="sites" (click)="sidenav.toggle()">
                <mat-icon>place</mat-icon>
                Sites
            </button>
            <button routerLink="users" mat-flat-button (click)="sidenav.toggle()">
                <mat-icon>people</mat-icon>
                Users
            </button>            
        </mat-sidenav>
        <!-- Body --><router-outlet></router-outlet>
        
    </mat-sidenav-container>
</div>
