<mat-toolbar color="accent">
    <mat-toolbar-row>
        <span fxFlex="1 1 auto"></span>
        <mat-form-field fxFlex="320px">
            <mat-label>Search</mat-label>
            <input matInput type="text" (keyup)="applyFilter($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </mat-toolbar-row>
</mat-toolbar>
<mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z1">

    <!--<ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay">
        <mat-header-cell *matHeaderCellDef> {{ column }} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element[column] }}</mat-cell>
    </ng-container>-->

    <!-- Site name--> 
    <ng-container matColumnDef="name">    
        <mat-header-cell *matHeaderCellDef> Name. </mat-header-cell>
        <mat-cell *matCellDef="let site"> {{ site.name }}</mat-cell>
    </ng-container>

     Site Location 
    <ng-container matColumnDef="state">    
        <mat-header-cell *matHeaderCellDef> Location. </mat-header-cell>
        <mat-cell *matCellDef="let site"> {{site.location.lga }}, {{ site.location.state }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="repair_cost">    
        <mat-header-cell *matHeaderCellDef> Cost of repair (Naira). </mat-header-cell>
        <mat-cell *matCellDef="let site"> {{site.repair_cost }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>